* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: burlywood;
  margin-right: 0;
  background-color: #35424A;
  color: #fff;
  /* height: 4.2rem; */
  border-bottom: 3px solid #A9508B;
}

header .header-left h1 {
  margin-left: 1rem;
  padding: 1rem;
  text-align: center;
  vertical-align: middle;
  font-size: 1.6rem;
}

header .header-left h1 span {
  color: #A9508B;
}

header .header-left .header-right li {
  display: inline-block;
  padding: 2rem 1.5rem 0;
  margin-bottom: 1rem;
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

li {
  display: inline-block;
  padding: 2rem 1.5rem 0;
  margin-bottom: 1rem;
}

li a {
  text-decoration: none;
  color: #fff;
}

li a span {
  color: #A9508B;
}

.section-mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: darksalmon;
  height: 5rem;
  padding: 1rem;
  background-color: #35424A;
  color: #fff;
}

.section-mid button {
  background-color: #E8491D;
  height: 2rem;
  width: 6rem;
  color: #fff;
  border: none;
  outline: none;
}

.section-mid input {
  height: 2rem;
  width: 15rem;
  color: #fff;
}

.section-mid h3 {
  margin-left: 1rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 11.3vh;
  background-color: #35424A;
  padding: 1rem;
  color: #fff;
}

.home-section-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  word-spacing: 2px;
  font-size: 14px;
  padding: 10px;
  height: 72.8vh;
}

.home-section-top .home-section-top__content {
  padding: 1rem;
  padding-left: 0;
  margin: 0 1rem;
}

.home-section-top .home-section-top__content h2 {
  padding: 1rem;
}

.home-section-top .home-section-top__content p {
  padding: 1rem 0rem 1rem 1rem;
}

.home-section-top .home-section-top__content2 {
  padding: 1rem;
  margin: 0 1rem;
  background-color: #35424A;
  color: #fff;
  margin-left: 1.7rem;
}

.home-section-top .home-section-top__content2 p {
  padding: 1rem 0 1rem 1rem;
}

.home-section-top .home-section-right {
  color: #fff;
  background-color: #35424A;
  margin: 2rem 4rem;
  height: 21.5vh;
}

.home-section-top .home-section-right h2 {
  padding: 1rem;
}

.home-section-top .home-section-right p {
  padding: 1rem;
}
/*# sourceMappingURL=home.css.map */